<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-description">
          <h3>Cpay</h3>
          <p>
            Cpay is a leading-edge credit card management application, designed to simplify your financial experience. With innovative features and user-friendly interfaces, Cpay empowers individuals and businesses to manage their credit seamlessly. Stay in control, stay secure.
          </p>
        </div>
  
        <div class="footer-owner">
          <h3 style="font-weight: 600">About the Owners</h3>
          <p>Meet the creators behind Cpay:</p>
          <ul>
            <li>Divyansu Sahu</li>
            <li>Lokesh Raju</li>
            <li>Arpita Sahoo</li>
            <li>Anoop A</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  