<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(219, 219, 192)">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="assets/img/cashless-payment.png" alt="C-pay" width="30" height="30" class="d-inline-block align-top">
            C-pay
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" id="cardServicesDropdown">
            <a class="nav-link dropdown-toggle" href="#" id="cardServices" role="button">
              Card Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="cardServices">
              <li><a class="dropdown-item" href="#">Find a Card for You</a></li>
              <li><a class="dropdown-item" href="#">Rewards</a></li>
              <li><a class="dropdown-item" href="#">Services</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    
  </nav>
  