<app-navbar></app-navbar>
<!-- <div class="container" style="height: 1000px;">
    <h1>Welcome to Cpay - Your Credit Card Application</h1>
    <p>Choose from our various card services and apply now.</p>
  </div> -->
  <div class="home-container">
    <div class="left-content">
      <h1>Extra Rewards. Everyday. Everywhere.</h1>
      <p>Access tons of exciting features, with Cpay Coral Credit Card.</p>
      <button class="apply-btn">Apply Now</button>
    </div>
    <div class="right-content">
      <div class="credit-card" style="background-image: url('/assets/credit-card.png');"></div>
    </div>
  </div>
  
  






  <div class="card-container">
    <div class="card">
      <img src="assets/gas.png" style="height: 200px; width: 200px;" alt="Fuel Savings" class="card-image">
      <h2 class="card-title">Save on fuel bills</h2>
      <p class="card-description">Save money when refueling by getting a discount on fuel surcharge.</p>
    </div>
  
    <div class="card">
      <img src="assets/gift.png" style="height: 200px; width: 200px;" alt="Reward Points" class="card-image">
      <h2 class="card-title">Earn reward points for gifts and vouchers</h2>
      <p class="card-description">Earn reward points that can be redeemed for gifts and vouchers.</p>
    </div>
  
    <div class="card">
      <img src="assets/airplane.png" style="height:200px; width: 200px;" alt="Airport Lounge" class="card-image">
      <h2 class="card-title">Access Domestic Airport Lounge</h2>
      <p class="card-description">1 complimentary access per quarter at a Domestic Airport Lounge (India) on spending ₹35,000 or more in the previous quarter.</p>
    </div>
  
    <div class="card">
      <img src="/assets/ticket.png" style="height:200px; width: 200px;" alt="Movie Discounts" class="card-image">
      <h2 class="card-title">Enjoy Movies with BookMyShow and Inox</h2>
      <p class="card-description">25% off (Up to ₹100) on minimum purchase of 2 tickets on BookMyShow and Inox Movies, twice a month.</p>
    </div>
  </div>
  
  







<app-footer></app-footer>
  